name: Build e Release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restaurar dependências
      run: dotnet restore SistemaJuridico/SistemaJuridico.csproj

    - name: Build
      run: dotnet build SistemaJuridico/SistemaJuridico.csproj --configuration Release --no-restore

    - name: Publicar executável
      run: |
        dotnet publish SistemaJuridico/SistemaJuridico.csproj `
          -c Release `
          -r win-x64 `
          --self-contained true `
          -p:PublishSingleFile=true `
          -p:IncludeNativeLibrariesForSelfExtract=true `
          -p:EnableCompressionInSingleFile=true `
          -o publish
      shell: pwsh

    - name: Compactar build
      run: Compress-Archive -Path publish\* -DestinationPath SistemaJuridico.zip
      shell: pwsh

    - name: Criar Tag automática
      id: tag
      run: |
        echo "tag=v$(Get-Date -Format yyyy.MM.dd.HHmm)" >> $env:GITHUB_OUTPUT
      shell: pwsh

    - name: Criar Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ steps.tag.outputs.tag }}
        name: Release ${{ steps.tag.outputs.tag }}
        files: SistemaJuridico.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
